@media only screen and (max-width:1000px){
    .box5{
        display: none;
    }
}
body{
    font-family:'Zen Dots', cursive;
}
#Monday{
    position:static;
    color:rgb(250, 100,50);
    background-color:aquamarine; /*background color added to make title obvious*/
    text-align: center;
    text-decoration: underline red;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 2em;
    margin-bottom: 30px;
}
.box1{
    margin: 50px 2em 100px 30px;
    border-style: dotted;
    border-width: 10px;
    border-color: red black blue cyan;
    border-radius: 5% 5%;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 80px;
}
#Tuesday{
    position:relative;
    top: 10px; left: 20px;
    color: #f12c12;
    background-color: antiquewhite;
    text-decoration: underline black;
    text-align: center;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 2em;
    margin-bottom: 30px;
}
.box2{
    margin: 50px 2em 100px 30px;
    border-style: dotted;
    border-width: 10px;
    border-color: green yellow rgb(160, 116, 95) red;
    border-radius: 5% 5%;
    padding: 20px 30px 40px 80px ;
}
#Wedsday{
    color:hsl(81, 94%, 49%);
    background-color: rgb(8, 8, 8);
    text-decoration: underline blanchedalmond;
    text-align: center;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 2em;
    margin-bottom: 30px;
}
.box3{
    margin: 50px 2em 100px 30px;
    border-style: dotted;
    border-width: 10px;
    border-color: rgb(160, 116, 95) rgb(250, 100,50) rgb(rgb(26, 26, 31), rgb(19, 0, 128), blue) rgb(250, 100,50);
    border-radius: 5% 5%;
    padding: 20px 30px 40px 80px ;
}
.box4{
    margin:auto;
}
.box5{
    margin: auto;
}
h1{
    font-size: 1.5cm;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 1.5pc;
}
.high li{
    font-size: 1.2em;
    width: 100vw;
    
}
.low li{
    font-size: 3ex;
    width: 100vw; 
}
.song{
    display:block;
}
div{
    font-size: 3ex;
    text-decoration: underline;
    width: 400px;
    height: 50%;
}
textarea{
    max-width: 1000px;
    min-width: none;
}
.title{
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}
button:hover{
    color: green;
}
a:active{
    color: antiquewhite;
}
.flex-container{
    
    display:flex;
    width: 100%;
    margin: 10px;
    background-color: rgb(32, 218, 131);
    flex-direction:  column;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    align-items: center;
    justify-content: flex-end;
}
.flex-container > div{
    background-color: cyan;
}
.grid-container {
    width:100%;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: aquamarine;
    justify-content: space-around;
    row-gap: 10px;
    padding:10px;
  }
.grid-item {
    background-color: whitesmoke;
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }